<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43723683608-l89ev7s3belkthf3n1q38gon5jjllsss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43723683608-l89ev7s3belkthf3n1q38gon5jjllsss</string>
	<key>API_KEY</key>
	<string>AIzaSyCZDAJbM3PdTGKCbBqAPGy5UYYhbijOtfs</string>
	<key>GCM_SENDER_ID</key>
	<string>43723683608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itmorelia.mx.ProyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>proyectofinalios-2f1d5</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofinalios-2f1d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43723683608:ios:ef86f762c3514de996906d</string>
	<key>DATABASE_URL</key>
	<string>https://proyectofinalios-2f1d5-default-rtdb.firebaseio.com</string>
</dict>
</plist>